POSTGRES_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
JWT_SECRET=CHANGE_ME_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
INVITE_CODE=CHANGE_ME_PRIVATE_INVITE_CODE
CORS_ORIGIN=https://nextalk.miosmooth.com,http://localhost:5173
PUBLIC_API_URL=https://api.nextalk.miosmooth.com

TURN_REALM=turn.nextalk.miosmooth.com
TURN_PUBLIC_IP=YOUR_PUBLIC_IPV4
TURN_URL=turn:turn.nextalk.miosmooth.com:3478
TURN_USERNAME=nextalk
TURN_PASSWORD=CHANGE_ME_TURN_PASSWORD
